/*.pyc
/DynamicTDD/*.pyc
/Docker/env.list
/DynamicTDD/testdb.py
/DynamicTDD/consumernumbers.txt
/DynamicTDD/Output/*
/DynamicTDD/varfiles/*
/DynamicTDD/varfiles/__pycache__/*
/DynamicTDD/numbers.txt
/DynamicTDD/time.txt
/DynamicTDD/pan.txt
/Docker/docker-variables.log
DynamicTDD/numbers.txt
DynamicTDD/time.txt
DynamicTDD/pan.txt
DynamicTDD/__pycache__/*
Docker/config/jaldeetdd.tar
Docker/config/jaldeetdd.tar.zip
DynamicTDD/APreBackup/*
DynamicTDD/Service.json
DynamicTDD/sign.json
DynamicTDD/logo.json
DynamicTDD/clinicalnotes.json
DynamicTDD/varfiles.zip
