/*.pyc
/DynamicTDD/*.pyc
/Docker/env.list
/DynamicTDD/testdb.py
/DynamicTDD/consumernumbers.txt
/DynamicTDD/Output/*
/DynamicTDD/varfiles/*
/DynamicTDD/varfiles/__pycache__/*
DynamicTDD/varfiles-bk/*
/DynamicTDD/numbers.txt
/DynamicTDD/time.txt
/DynamicTDD/pan.txt
/Docker/docker-variables.log
DynamicTDD/numbers.txt
DynamicTDD/time.txt
DynamicTDD/pan.txt
DynamicTDD/__pycache__/*
Docker/config/jaldeetdd.tar
Docker/config/jaldeetdd.tar.zip
DynamicTDD/APreBackup/*
DynamicTDD/Service.json
DynamicTDD/sign.json
DynamicTDD/logo.json
DynamicTDD/clinicalnotes.json
DynamicTDD/varfiles.zip
DynamicTDD/TDD_Logs/*
DynamicTDD/TDD_Logs/pan.txt
Data/local_varfiles/providers.py
Data/localdata/localphnumbers.txt
Data/TDD_Logs/consumernumbers.txt
Data/TDD_Logs/msgslog.txt
Data/TDD_Logs/numbers.txt
Data/TDD_Logs/pan.txt
Data/TDD_Logs/proconnum.txt
Data/TDD_Logs/providernumbers.txt
DynamicTDD/cover.json
DynamicTDD/proper.json
Docker/logs/*
Data/TDD_Output/msgslog.txt
DynamicTDD/TDD_Output/msgslog.txt
